$header-size: 2em;
$standard-display: inline-block;
$clock-border: solid black 10px;
$standard-margin: 1em;
$timer-font: "Droid Sans Mono Dotted", sans-serif;
$timer-fontSize: 1em;
$clock-background: silver;
$inner-color: lightyellow;
$input-display: block;
$container-shadow: 5px 5px 7px;